.block-simple-age-gate-block {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, .8);
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.block-simple-age-gate-block.sag-visible {
    display: flex;
}
.block-simple-age-gate-block.sag-hidden {
    display: none;
}
.block-simple-age-gate-block .content-wrapper {
    display: inline-block;
    background-color: white;
    margin: 0 auto;
    padding: 0 15px;
}
.block-simple-age-gate-block .sag-custom-content {
    padding: 0 15px;
    margin-bottom: 15px;
}
.block-simple-age-gate-block .sag-body {
    margin-bottom: 25px;
}
.block-simple-age-gate-block .sag-logo {
    padding: 15px;
}
.block-simple-age-gate-block .sag-logo img {
    display: inline-block;
    max-width: 300px;
}
