{%
set classes = [
'block',
'block-simple-age-gate',
]
%}
<section{{ attributes.addClass(classes).addAttributes('id', 'block-simple-age-gate') }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% if logo_display %}
        {% block logo %}
            <div class="sag-logo">
                <img src="{{ base_path ~ logo_path }}" alt="{{ site_name }}">
            </div>
        {% endblock %}
    {% endif %}

    {% if custom_content %}
        {% block custom_content %}
            <div class="sag-custom-content">
                {{ custom_content }}
            </div>
        {% endblock %}
    {% endif %}

    {% block content %}
        <div class="content-wrapper">
            <div class="sag-body">
                {{ text | t }}
            </div>
            <button class="sag-btn-access">{{ button_label | t }}</button>
        </div>
    {% endblock %}
</section>

